@charset "utf-8";

main {
     background-color: #999;
     min-width:420px ;
     
}

/* header start *//* header start *//* header start */

header {
     width: 100%;
    /*  margin: 0 auto; */
     background-color: #fff;
     border-bottom: 2px solid #d9d9d9;
 
}


/* 헤더 중앙 정렬 */
header nav {
     width: calc(100% - 30px);
     margin: 0 auto;
     background-color: #fff;
     height: 60px;
     line-height: 60px;
}



nav .header_menu {
     display: flex;
     justify-content: space-between;
}

i.icon{
     font-size: 1.8rem;
     display: inline-block;
 }
/* 커뮤니티 */
.nav_txt{
     color: #333;
     margin: 0 auto;
     font-size: 1.6rem;
     font-weight: 600;
}
.nav_left{
     display: inline-block;
     padding: 0 10px;
     margin-right: 75px;
}

.nav_right a
{
     display: inline-block;
     padding: 0 5px;
}
/* 오른쪽 알림챗내정보 */



/* header end *//* header end *//* header end */













/* Tab Menu Start */

.community{
     /* width: calc(100% - 30px); */
     margin: 0 auto;
     background-color: #fff;
     height: 60px;
     line-height: 60px;
     position: relative;
     z-index: 20;

}



/* Tab Title */
.tab_list{
     padding-left: 20px;
     display: flex;
     flex-wrap: nowrap;
     white-space:nowrap;
     width: 100%;
     text-align: center;
     font-size: 1.4rem;
     overflow-y:hidden;
     height: 63px;
     font-weight: 500;
     
}


/* X 스크롤바 안보이게하기 */
.tab_list::-webkit-scrollbar {display:none;}






/* 자유~기타 카테고리 버튼 */
.tab_list li{
     margin: 5px -3px;
     padding: 4px 20px;
     color: #999;
     text-align: center;
     line-height: 40px;
}

/* 전체~HOT 카테고리버튼 */
.tab_list li.all,
.tab_list li.hot
{    margin: 5px 5px;}


/* 카테고리 눌렀을때 */

/* 카테고리 아래 선 */
.tab_list::after{
     position: absolute;
     content: '';
     display: block;
     width: 100%;
     bottom: -3px;
     left: 0;
     background-color: #ddd;
     height: 3px;
     box-sizing: border-box;
}


/* .on 붙여써야 인식 */
.tab_list li.on{
     color: #333;
     font-weight: 700;
     position: relative;
     transition: 0.24s;
     z-index: 5000;
}

/* 선택된 카테고리 바 표시 */
.tab_list li.on::after{
     position: absolute;
     left:50%;
     transform : translate(-50%, 140%);
     content: '';
     width: 80%;
     bottom: 0px;
     border-bottom: 4px solid #333;
     border-radius: 40px;
     display: block;
}


.tab_list::after{
     content: '';
     width: 100%;
     display: block;
     
}
.tab_cont li.on{
     display: block;
}
/* all,hot은 카테고리 아래선 투명으로 안보이게 함 */
.tab_list li.all.on::after,
.tab_list li.hot.on::after{
     border-bottom: none;
}





/* 전체,핫이슈 카테고리 버튼 */
.tab_list .all,
.tab_list .hot
{
     border-radius: 2em;
     height: 50px;
}
.tab_list .all{
     color: #333;
     background-color: #E5E5E5;
}
.tab_list .hot{
     color: #d20000;
     background-color: #ffc7c7;
}


/* 전체,핫이슈 카테고리 버튼 활성화 됐을때 */
.tab_list .on.all{
     background-color: #333;
     color: #fff;
     border: none;
     transition: 0.24s;
}
.tab_list .on.hot{
     background-color: #d70007;
     color: #fff;
     border: none;
     transition: 0.24s;
}





/* Tab Cate Cont *//* Tab Cate Cont */


.tab_cont{
     height: 260px;
     overflow-y: scroll;
     width: calc(100% - 50px);
     margin: 0 auto;
     line-height: 60px;
}
.tab_cont li{
     display: none;
}
/* Y 스크롤바 안보이게하기 */
.tab_cont::-webkit-scrollbar {display:none;}
/* search start */

/* sementic에 있던거 수정 */
/* 검색아이콘 위치패딩 조정 */
.ui.icon.input > input {
     padding-right: 4em !important;
     padding-left: 1em !important;
 }

 .ui.input {
     width: 100%;
     margin-top: 20px;
     color: #999;
}

.ui.input > input {
     font-family: 'Noto Sans KR', sans-serif;
     font-weight: 500;
     margin: 0 auto;
     line-height: 1em;
     padding: 1em 0em;
     background: #FFFFFF;
     border: 2px solid #ccc;
     color: #444;
     border-radius: 0.5rem;
 }
/* search end */


/* d아.. 이부분 하다가 안고쳐지면 시멘틱쓰지말고 내가 만들기*/
/* list_title start*/
.free_box 
{
     background-color: rgba(83, 45, 45, 0.294);
     width: 100%;
     
}
.free_box_cont{
     background-color: #d70007;
}
/* sementic EDIT Start */
.free_box .ui.items > .item {
     
}
.ui.unstackable.items .image {
 overflow: hidden;
    width: 70px !important;
    height: 55px;
    background-color: green;
}

.ui.items > .item > .image + .content {
     width: 100%;
      display: inline-block; 
     -ms-flex-item-align: middle;
     align-self: middle;
     padding-left: 1em;
 }
 
/* sementic EDIT end */

.description li{
     display: inline-block;
     color: #333;
     background-color: #dfdfdf;
}
.description li.author{
     display: inline-block;
     color: #333;
     background-color: #dfdfdf;
}
/* list_title end*/


/* Tab Cate Cont END *//* Tab Cate Cont END */



/* tab end */


