@charset "utf-8";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* sementic 터치/호버시 파란색-> 검은색 */
.ui.input.focus>input, .ui.input>input:focus {
     border-color: #ccc; 
 }
 a:hover {
     color: #333;
     text-decoration: none;
 }

html,
body {
     /* font-size: 62.5%; */
     /* 얘를 살리면 원하는 레이아웃으로 들어가지만,
     시멘틱UI에서 만든 css font-size값이 위처럼 적용되므로 깨지므로
     %적용하기전으로 바꿈..*/
     min-width: 375px; 
  /* 글자크기 조정하고 395<note10 에서 볼때 안깨지게 해야함... */
     line-height: 1;
}

li {
     list-style: none;
}

a {
     display: block;
     color: #333;
     text-decoration: none;
     letter-spacing: -0.025rem;
}

p {
     letter-spacing: -0.025rem;
}

.clearfix::after {
     content: '';
     display: block;
     clear: both;
}

img {
     border: 0;
}