@charset "utf-8";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html,
body {
     /* font-size: 62.5%; */
     /* 얘를 살리면 원하는 레이아웃으로 들어가지만,
     시멘틱UI에서 만든 css font-size값이 위처럼 적용되므로 깨지므로
     %적용하기전으로 바꿈..*/
     line-height: 1;
}

/* 이러면 1.6rem이라했을때 16px으로 편히 볼수있음*/
li {
     list-style: none;
}

a {
     display: block;
     color: #333;
     text-decoration: none;
     letter-spacing: -0.025rem;
}

p {
     letter-spacing: -0.025rem;
}

.clearfix::after {
     content: '';
     display: block;
     clear: both;
}

img {
     border: 0;
}